@model Article

    <div class="home-inner container">
        <div class="col-8 border-primary">
            <h1 class="h3 text-uppercase">@Model.thread</h1>
            <hr />
            <p>
                @Model.content
            </p>
            <hr />
            <p class="text-right h4 text-uppercase">@Model.author</p>
        </div>

    </div>